[submodule "ws63-guide"]
	path = chips/ws63/guide
	url = https://github.com/hispark-rs/ws63-guide.git
[submodule "hisi-hal"]
	path = crates/hisi-hal
	url = https://github.com/hispark-rs/hisi-hal.git
[submodule "ws63-pac"]
	path = crates/chips/ws63/ws63-pac
	url = https://github.com/hispark-rs/ws63-pac.git
[submodule "hisi-riscv-rt"]
	path = crates/hisi-riscv-rt
	url = https://github.com/hispark-rs/hisi-riscv-rt.git
[submodule "ws63-examples"]
	path = examples/ws63
	url = https://github.com/hispark-rs/ws63-examples.git
[submodule "bs2x-pac"]
	path = crates/chips/bs2x/bs2x-pac
	url = https://github.com/hispark-rs/bs2x-pac.git
[submodule "bs2x-guide"]
	path = chips/bs2x/guide
	url = https://github.com/hispark-rs/bs2x-guide.git
[submodule "crates/hisi-panic-handler"]
	path = crates/hisi-panic-handler
	url = https://github.com/hispark-rs/hisi-panic-handler.git
[submodule "crates/hisi-rs-template"]
	path = crates/hisi-rs-template
	url = https://github.com/hispark-rs/hisi-rs-template.git
[submodule "crates/chips/hi3322/hi3322-pac"]
	path = crates/chips/hi3322/hi3322-pac
	url = https://github.com/hispark-rs/hi3322-pac.git
[submodule "crates/hisi-alloc"]
	path = crates/hisi-alloc
	url = https://github.com/hispark-rs/hisi-alloc.git
[submodule "crates/hisi-rom-sys"]
	path = crates/hisi-rom-sys
	url = https://github.com/hispark-rs/hisi-rom-sys.git
[submodule "crates/hisi-crypto"]
	path = crates/hisi-crypto
	url = https://github.com/hispark-rs/hisi-crypto.git
[submodule "crates/chips/ws63/ws63-radio-sys"]
	path = crates/chips/ws63/ws63-radio-sys
	url = https://github.com/hispark-rs/ws63-radio-sys.git
[submodule "crates/chips/ws63/hisi-crypto-ws63"]
	path = crates/chips/ws63/hisi-crypto-ws63
	url = https://github.com/hispark-rs/hisi-crypto-ws63.git
[submodule "crates/chips/ws63/hisi-rom-sys-ws63"]
	path = crates/chips/ws63/hisi-rom-sys-ws63
	url = https://github.com/hispark-rs/hisi-rom-sys-ws63.git
